[submodule "frontend"]
	path = frontend
	url = https://github.com/GuilhermeCMartins/frontend-coodesh.git
[submodule "backend"]
	path = backend
	url = https://github.com/GuilhermeCMartins/backend-coodesh.git
